# Environments
.env
.venv
env/
venv/
ENV/

#pytest cache
.pytest_cache

#Tests csv that generated on pytest and errs
-Test*.csv

#results generated
results.csv

#MacOS File
.DS_Store

.idea

__pycache__/
